@import "vars"
@import "fonts"
@import "libs"


body
	line-height: 1
	background: #F9FDFF
*
	box-sizing: border-box
	margin: 0
	padding: 0

.container
	max-width: 1179px
	margin: 0 auto
	padding: 0
ul
	margin: 0
li
	list-style-type: none
h1, h2, p
	margin: 0

// хэдер
.header
	&__content
		height: 200px
		align-items: center
		display: flex
		justify-content: space-between
	&__logo
		margin-right: 138px
	&__nav
		display: flex
	&__ul
		display: flex
		li
			&:first-child
				margin-right: $margin-header
			&:last-child
				margin-left: $margin-header + 6px
			a
				text-decoration: none
				color: $color-black
				text-transform: uppercase
				font-family: $font-openSans-regular
				font-size: 14px
				letter-spacing: 0.13em
				line-height: 19px
				transition: 400ms
				&:hover
					opacity: 0.6
				&:focus
					opacity: 0.6
	&__buy
		display: flex
		margin-right: 8px
		div
			&:last-child
				margin-left: 2px
		.find
			padding: 8px 10px 3px 13px
			border-radius: 22px
			cursor: pointer
			&:hover
				background: #f9fdff86
			&:focus
				background: #f9fdff86
				outline: none
		.basket
			padding: 8px 12px 3px 12px
			border-radius: 22px
			cursor: pointer
			position: relative
			&:hover
				background: #f9fdff86
			&:focus
				background: #f9fdff86
				outline: none
		.basket-number
			position: absolute
			top: 5px
			left: 27px

// задний фон верхней секции
.section__top
	position: relative
	.header__img
		position: absolute
		top: 0
		left: 566px
		z-index: -1
	.header__font-rose
		position: absolute
		top: 0
		left: 760px
		width: 524px
		height: 751px
		background-color: #FCEAE8
		z-index: -3

// контент верхней секции
.section__top
	margin-bottom: 276px
	.top
		display: flex
		justify-content: space-between
		&__left
			margin-top: 35px
			width: 545px
			color: $color-black
			h1
				font-family: $font-playfairDisplay-bold
				font-size: 57px
				line-height: 83px
				letter-spacing: 0.05em
				text-transform: uppercase
				margin-bottom: $margin-top - 9px
			p
				font-family: $font-openSans-regular
				font-size: 20px
				line-height: 27px
				margin-bottom: 10px
			.left__price
				display: flex
				align-items: baseline
				font-family: $font-openSans-regular
				font-size: 20px
				line-height: 27px
				color: $color-black
				margin-bottom: $margin-top - 10px
				p:first-child
					text-decoration-line: line-through
					margin-right: 22px
				p:last-child
					font-family: $font-openSans-semiBold
					font-size: 30px
					line-height: 41px
			button
				@extend %form-buttom-buy
		&__right
			margin-top: 125px
			ul
				display: flex
				flex-direction: column
				margin-right: 23px
				a
					padding-right: 6px
					outline: none
					transition: transform .2s
					padding-bottom: 5px
					text-decoration: none
					font-family: $font-playfairDisplay-regular
					font-size: 20px
					line-height: 29px
					letter-spacing: 0.05em
					text-transform: uppercase
					color: rgba(0, 0, 0, 0.3)
					&:nth-of-type(n+2)
						margin-top: 20px
					&:hover
						transform: scale(2)
						border-right: 1.5px solid
						padding-right: 4.5px
						color: black
					&:focus
						transform: scale(2)
						border-right: 1.5px solid
						padding-right: 4.5px
						color: black

// средняя часть

.middle
	display: flex
	margin-bottom: 102px
	&__left
		width: 570px
		display: flex
		flex-wrap: wrap
		margin-right: 30px
		div:nth-of-type(odd)
			margin-right: 30px
		div:nth-of-type(-n+2)
			margin-bottom: 37px
		&-new
			width: 270px
			padding-top: 123px
			h1
				margin-bottom: 7px
				font-family: $font-playfairDisplay-bold
				font-size: 28px
				line-height: 37px
				letter-spacing: 0.05em
		&-chair
			text-align: center
			padding: 20px 43px 16px 44px
			background: #FFFFFF
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03)
			@extend %middle-hover
			img
				margin-bottom: 10px
			p
				@extend %middle-p
			span
				@extend %middle-span
		&-chandelier
			text-align: center
			padding: 1px 32px 16px 36px
			background: #FFFFFF
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03)
			@extend %middle-hover
			img
				margin-bottom: 7px
			p
				@extend %middle-p
				margin-top: -27px
			span
				@extend %middle-span
		&-table
			text-align: center
			padding-bottom: 16px
			background: #FAECE9
			@extend %middle-hover
			img
				margin-bottom: 10px
			p
				@extend %middle-p
			span
				@extend %middle-span
	&__right
		text-align: center
		padding: 19px 37px 26px 43px
		background: #FFFFFF
		box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03)
		transition: 500ms
		cursor: pointer
		&:hover
			opacity: 0.8
			transform: scale(1.05)
		img
			margin-bottom: 29px
		p
			@extend %middle-p
		span
			@extend %middle-span

// слайдер
.middle__slider
	width: 753px
	margin: 0 auto
	margin-bottom: 100px
	.Helen-Novikova
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		img
			align-self: center
			margin-bottom: 25px
		span
			width: 233px
			font-family: $font-openSans-regular
			font-size: 16px
			line-height: 25px
			margin-bottom: 20px
			color: #444348
			b
				font-family: $font-openSans-bold
				font-size: 18px
				line-height: 28px
	p
		width: 653px
		font-family: $font-openSans-italic
		font-size: 16px
		line-height: 25px
		color: #444348



@import "media" // Always at the end
