@import "vars"
@import "fonts"
@import "libs"
*
	box-sizing: border-box
	margin: 0
	padding: 0

.container
	max-width: 1179px
	margin: 0 auto
	padding: 0

// хэдер

.header__content
	




.basket
	position: relative

	.basket-number
		position: absolute
		top: -1px
		left: 15px


@import "media" // Always at the end
